$pink: #F6F !default;

$primary_color_yellow: #F6FD0B !default;
$primary_color_green: #23DB0E !default;
$primary_color_blue: #1000B2!default;

$secondary_color_purple: #4E0548 !default;
$secondary_color_orange: #E94D0C !default;
$secondary_color_red: #EF0036 !default;

$font-size-1: 20pt;
$font-size-2: 15pt;
$font-size-3: 12pt;
